

  

/* Hero */

.hero-section {
 
    /* padding: 80px 20px;  */
    margin-top: 60px;
    text-align: center; 
  } 
  .hero-section *{
    margin: 10px;
  }
  
  .hero-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 18px;
    color: #444;
    margin-bottom: 30px;
  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .hero-btn{
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #cc5200;
    color: white;
    border: none;
  }